@model IEnumerable<BookFilmProject.Models.Pelicula>

@{
    ViewBag.Title = "Index";
}

<!--INDEX DE LA VISTA PELÍCULAS-->

<html>

<head>
    <link rel="Stylesheet" href="~/Estilos/StyleSheet1.css" />
</head>

<body>

    <h1>BOOK & FILM PROJECT</h1>
    <hr />

    <div>
        <h2>Sección películas</h2>
        <img class="tape" src="~/Estilos/tape.png" />

    </div>

    <!--LINK PARA CREAR UNA NUEVA PELÍCULA-->
    <p>
        @Html.ActionLink("Añade una nueva película", "Create")
    </p>

    <!--TABLA QUE NOS MUESTRA LAS PELÍCULAS INTRODUCIDAS-->

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <!--Html.DisplayNameFor(model => model.Libro.Title)-->
                Book
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libro.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Theme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Music)
                </td>


                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.FilmID }) |
                    @Html.ActionLink("Ver detalles", "Details", new { id = item.FilmID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.FilmID })
                </td>
            </tr>
        }

    </table>

    <!--LINK A LA PAGINA PRINCIPAL-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Volver a la página principal", "../Home/Principal")

        </div>
    }



</body>
</html>